{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

          <div class="block-7">
            <h3 class="footer-heading mb-4">О нас</h3>
            <p>Это сайт нашего дипломного проекта не судите строго)</p>
          </div>

        </div>
        <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
          <h3 class="footer-heading mb-4">Быстрые ссылки</h3>
          <ul class="list-unstyled">
            <li><a href="{% url 'store' %}">Аптека</a></li>
            <li><a href="https://call.whatsapp.com/voice/VzqRI4SkSbXFD6gzTAkMhC">Позвонить к нам</a></li>
           
            
          </ul>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Контакты</h3>
            <ul class="list-unstyled">
              <li class="address"><a href="https://goo.gl/maps/XELsNYRcFGwV5AQi8?coh=178573&entry=tt">Сатпаева 22</a></li>
              <li class="phone"><a href="tel://87768888501">+7 777 555 45 15</a></li>
              <li class="email">medialab@gmail.com</li>
            </ul>
          </div>


        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> 
            Демонстрационный сайт 
          </p>
        </div>

      </div>
    </div>
  </footer>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
<!-- ========================= FOOTER END // ========================= -->