{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="site-blocks-cover inner-page" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto align-self-center">
          <div class=" text-center">
            <h1>О нас</h1>
            <p>Мы делаем дипломный проект Medilab</p>ˀ
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="block-16">
            <figure>
              <img src="{% static 'images/bg_1.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
              
  
            </figure>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
  
  
          <div class="site-section-heading pt-3 mb-4">
            <h2 class="text-black">Это наш сайт</h2>
          </div>
          <p>Мы написали сайт по поиску и продаже медикаментов. Пользователи могут находить медикаменты у нас в аптеке и сравнить цены с другими аптеками в нашей базе. Если их устраивает цена в нашей аптеке они смогут купить.</p>
          
  
        </div>
      </div>
    </div>
  </div>

  


  
  <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center"">
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
          <div class="icon mr-4 align-self-start">
            <span class="icon-truck text-primary"></span>
          </div>
          <div class="text">
            <h2>Бесплатная доставка</h2>
            <p>Наш курьер доставит вам медикаменты бесплатно</p>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  

  <div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Команда</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-5">
  
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/person_61.jpg' %}" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Акансері</h3>
                <p class="block-38-subheading">Студент</p>
              </div>
              <div class="block-38-body">
                <p>Computer science мамандығының 4 ші курс студенті</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-5">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/person_7.jpg' %}" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Олжас</h3>
                <p class="block-38-subheading">Студент</p>
              </div>
              <div class="block-38-body">
                <p> Выпускник Satbayev University </p>
              </div>
            </div>
          </div>
        </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}